<div class="grey-background page-natural-demo">
  <div class="page-banner basil-bucket">
    <div class="overlay-300"></div>
    <div class="overlay-text">
      <h1>Natural API Demo <span class="label label-info">beta</span></h1>
    </div>
  </div>
  <ol class="breadcrumb">
    <li class="active">Natural Language Endpoint Demo</li>
  </ol>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="bg-white padding">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
              <div class="row padding-top">
                <div class="col-md-8">
                  <p>
                      <textarea name="" id="" cols="30" rows="10" class="form-control"
                                ng-model="vm.input" ng-change="vm.inputChanged()">
                      </textarea>
                  </p>
                  <p class="padding-top">
                    <button class="btn btn-lg btn-success" ng-click="vm.process()">Calculate</button>
                  </p>
                  <alert type="danger" ng-if="vm.error">
                    An unexpected server error has occurred.
                    <br> Please email <a href="mailto:support@nutritionix.com">support@nutritionix.com</a>
                    <span ng-if="vm.error.id">and reference the reference code: {{vm.error.id}}</span>
                  </alert>
                  <alert type="warning" ng-if="vm.notFound">
                    No foods were recognized in your request.
                    <br> If you believe this is an error, please email
                    <a href="mailto:support@nutritionix.com">support@nutritionix.com</a>
                    with the problematic query
                    <span ng-if="vm.notFound.id">and reference the reference code: <b>{{vm.notFound.id}}</b></span>
                  </alert>
                  <br>
                  <div ng-show="vm.foods.length">
                    <h4>Results</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>Qty</th>
                          <th>Unit</th>
                          <th>Food</th>
                          <th>Calories</th>
                          <th>Weight</th>
                          <th>Consumed At</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="food in vm.foods">
                          <td>{{food.serving_qty || 1}}</td>
                          <td>{{food.serving_unit}}</td>
                          <td>
                            <a ui-sref="site.go({redirectType: 'usda', item_id: food.ndb_no})">
                              {{food.food_name}}
                            </a>
                          </td>
                          <td>
                            {{food.nf_calories}} kcal
                          </td>
                          <td>{{food.serving_weight_grams}} g</td>
                          <td>{{food.consumed_at | amDateFormat:'MM/DD/YYYY hh:mm A'}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-4" ng-show="vm.total">
                  <div class="form-inline">
                    <div class="form-group form-group-serving">
                      <input type="number" class="form-control input-sm" id="serving"
                             min="1"
                             ng-model="vm.servingsQty"
                             ng-change="vm.changeServingsQty()">
                      <label for="serving">Servings</label>
                    </div>
                  </div>

                  <div id="nutrition-label" nutrition-label="vm.total"></div>
                  <br>
                  <h4>Micronutrients</h4>
                  <table id="micronutrients" class="table table-striped table-fluid">
                    <tbody>
                    <tr ng-repeat="nutrient in vm.total.micronutrients"
                        ng-show="$index < 3 || vm.total.micronutrients.showAll">
                      <td>
                        <strong>{{nutrient.name}}</strong>
                      </td>
                      <td class="nobr">
                        {{nutrient.value | number : nutrient.value
                        < 0.5 ? 2 : 1}} {{nutrient.unit}}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div>
                    <button class="btn btn-success" type="button"
                            ng-click="vm.total.micronutrients.showAll = !vm.total.micronutrients.showAll">
                      <span ng-hide="vm.total.micronutrients.showAll">View All Micronutrients</span>
                      <span ng-show="vm.total.micronutrients.showAll">View Less Micronutrients</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container fluid -->
</div>
