<h1 class="text-center">
  Create Account
</h1>
<p>
  To create your account, please enter your email below.
</p>
<form novalidate ng-submit="vm.createAccount()" name="form">
  <div class="form-group" ng-class="{'has-error': form.email.$dirty && !(form.email.$error | isEmptyObject)}">
    <label for="email" class="sr-only">Email</label>
    <input id="email" type="email" name="email" placeholder="somebody@example.com" class="form-control"
           ng-model="vm.email" required>

    <div ng-show="form.email.$dirty && !(form.email.$error | isEmptyObject)"
         ng-messages="form.email.$error" class="text-danger" role="alert">
      <div ng-message="required">Email is required</div>
      <div ng-message="email">This is not a valid email</div>
    </div>
  </div>
  <p>
    <button ng-disabled="form.$invalid" type="submit" class="btn btn-success btn-lg btn-block">
      Create Account
    </button>

    <alert class="submit-alert" type="danger" ng-if="vm.createAccount.$error">
      <span ng-if="vm.createAccount.$error.message">{{vm.createAccount.$error.message}}</span>
      <span ng-if="!vm.createAccount.$error.message">An unexpected server error has occurred.</span>
      <br>
      <small>
        Please email <a href="mailto:support@nutritionix.com">support@nutritionix.com</a>
        <span ng-if="vm.createAccount.$error.id">
            and reference the reference code: {{vm.createAccount.$error.id}}
        </span>
      </small>

    </alert>
  </p>
</form>
