
.title-section{
  text-align: center;
  padding: 30px;
}
.products-section-title{
  font-size: 30px;
  line-height: 1em;
  color: #3c763d;
}
.products-subtitle{
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.container-calc-brands {
}



.container-calc-brands > .row {
	margin-bottom: 30px;
}
.col-calc-brand {
	background: #fff;
	border: 1px solid #eee;
	text-align: center;
	height: 110px;
	margin-top: -1px;
	margin-left: -1px;
	&:nth-child(1), &:nth-child(4), &:nth-child(7),
	&:nth-child(10), &:nth-child(13), &:nth-child(16),
	&:nth-child(19), &:nth-child(22), &:nth-child(25),
	&:nth-child(28), &:nth-child(31), &:nth-child(34) {
		margin-left: 1px;
	}
	@media (min-width: 768px) {
		height: 200px;
		&:nth-child(1), &:nth-child(4), &:nth-child(7),
		&:nth-child(10), &:nth-child(13), &:nth-child(16),
		&:nth-child(19), &:nth-child(22), &:nth-child(25),
		&:nth-child(28), &:nth-child(31), &:nth-child(34) {
			margin-left: -1px;
		}
	}

}

.col-calc-brand > a  {
	display: block;
}

.col-calc-brand > a .brand-logo {
	width: 75px;
	height: 75px;
	line-height: 75px;
	@media (min-width: 768px) {
		width: 160px;
		height: 160px;
		line-height: 	160px;
	}
}

.col-calc-brand > a > span {
	display: block;
	margin: 0 auto;
	font-size: 11px;
	@media (min-width: 768px) {
		font-size: 14px;
	}
}
.col-calc-brand > a > span > img {
		max-width: 75px;
		max-height: 55px;
	@media (min-width: 768px) {
		max-width: 160px;
		max-height: 130px;
	}
}

.bordered-box {
	 border: 1px solid rgba(19, 19, 19, .1);
	 background-color: #fff;
	 margin-bottom: 15px;
	  
	 &.consumer {
			@media(min-width: 768px) {
				min-height: 340px;
			}
			@media(min-width: 992px) {
				min-height: 305px;
			}		
	 }
}

.your-daily-calorie { 
	dt{
	float: left;
	font-size: 25px;
	width: 80px;
	}
	dd {
		padding: 8px 0 10px  0;
	}
}

.us-height {
	.help-text-right {
		position: absolute;
		right: 0;
		top: 6px;
	}
	&:last-child .help-text-right {
		right: -18px;
	}
}
.has-helper-text {
	.help-text-right {
		position: absolute;
		right: -21px;
		top: 6px;
		width: 30px;
		display: block;
	}
}

.form-daily-calorie .radio {
	padding-top: 0;
	@media(min-width: 768px) {
		padding-top: 7px;
	}
}
.container-daily-calories h3 {
	font-size: 22px;
	@media(min-width: 768px) {
		font-size: 24px;
	}
}

.disclaimer {
	color: #888;
}