.navbar {
    margin-bottom: 0px;
    z-index: 10001;
}

.navbar > .container-fluid .navbar-brand {
    margin-top: -5px;
    @media(max-width: 1200px) {
        margin-top: 0px;
    }
}

.navbar-brand {
    color: $official-green;
    img {
        @media(max-width: 1200px) {
            margin-left: -5px;
        }
    }
}

.navbar-collapse {
    @media(max-width: 1200px) {
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 1px 2px;
        position: absolute;
        top: $navbar-height;
    }
}

#nav-menu {
    a:hover {
        color: $official-green;
    }
    @media(max-width: 1200px) {
        padding-top: -15px;
        li:hover {
            background-color: #555;
            a {
                color: $official-green;
            }
        }
    }
}

.navbar-toggle {
    padding: 10px 15px;
    @media(max-width: 1200px) {
        margin-right: 5px;
    }
    margin-top: 6px;
}

.navbar-default {
    background-color: #fff;
    height: $navbar-height;
}

.toggle-active {
    background-color: #ddd !important;
}

.toggle-inactive {
    background-color: #f8f8f8 !important;
}

#nav-menu {
    font-family: Open Sans, Sans-serif;
    font-weight: 300;
}

#searchBar {
    font-family: Roboto Slab, Sans-serif;
    @media(min-width: 1201px) {
        height: auto !important;
        display: inline-block !important;
        position: absolute !important;
        top: 5px;
        left: 160px;
        @include transition(none);
    }
    @media(max-width: 1200px) {
        background-color: #fff;
    }
}

#searchBar form .input-group {
    margin: 4px 5px;
    @media (min-width: 1200px) {
        max-width: 500px;
    }
}

.navbar-collapse.in {
    overflow-y: visible;
}

.dropdown-menu {
    width: 100%;
    padding: 0;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

.dropdown-menu > li {
    border-bottom: 1px solid #eee;
}

.dropdown-menu > li:last-child {
    border-bottom: none;
}

.no-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    width: 100%;
    padding: 5px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    box-sizing: border-box;
    color: #999;
}

.wrap {
    background-color: #fff;
    margin-top: 60px;
    @media(min-width: 768px) {
        margin-bottom: 10px;
        border: 1px solid #e7e7e7;
    }
}
