//custom bootstrap variables go here
$grid-float-breakpoint: 1200px;
$icon-font-path: '/nix_bower_components/bootstrap-sass/assets/fonts/bootstrap/';
$nix-font-path: '/nix_assets/fonts/';
$navbar-height: 52px;
$footer-height: 182px;
$padding: 15px;

